@import 'sass/_variables.scss';
@import 'sass/_fonts.scss';
@import 'sass/_mixins.scss';
@import 'sass/_header.scss';

$color: red;
body {
    background-color: $color;
    background: url(assets/img/sambre2.jpg);
    font-family: 'Bebas Neue', cursive;
    color: $color;
}
